section.services-list(data-js="servicesList")
    .container.services-list__container
        .services-list__slider(data-js="servicesListSlider")
            .swiper-wrapper
                .swiper-slide.services-list__slide
                    .services-list__number 01
                    .services-list__img 
                        img(src="./img/services/services_1.webp" alt="")
                .swiper-slide.services-list__slide
                    .services-list__number 02
                    .services-list__img 
                        img(src="./img/services/services_2.webp" alt="")
                .swiper-slide.services-list__slide
                    .services-list__number 03
                    .services-list__img 
                        img(src="./img/services/services_3.webp" alt="")
        .services-list__thumbs(data-js="servicesListThumbs")
            .swiper-wrapper
                .swiper-slide.services-list__thumb
                    .services-list__img 
                        img(src="./img/services/services_1.webp" alt="")
                    .services-list__content
                        .services-list__number.services-list__number--thumb 01
                        .services-list__center
                            +title({
                                classes: 'services-list__title',
                                text: 'Дизайн-проект',
                                animated: 'false'
                            })
                            .services-list__text Дизайн-проект интерьера&nbsp;— это мост между фантазией и&nbsp;мечтой и&nbsp;их&nbsp;воплощением в&nbsp;жизнь. Проект начинается с&nbsp;технического задания, где мечты и&nbsp;желания воплотятся в&nbsp;четкий план.
                    a.services-list__link(href="javascript:void(0)" target="_blank")
                        svg
                            use(xlink:href=`./img/sprites/sprite.svg#plus`)
                .swiper-slide.services-list__thumb
                    .services-list__img 
                        img(src="./img/services/services_2.webp" alt="")
                    .services-list__content
                        .services-list__number.services-list__number--thumb 02
                        .services-list__center
                            +title({
                                classes: 'services-list__title',
                                text: 'Чертежи',
                                animated: 'false'
                            })
                            .services-list__text Грамотное планировочное решение играет ключевую роль в&nbsp;создании всего дизайн-проекта. Это не&nbsp;просто расстановка мебели, но&nbsp;и&nbsp;сразу понимание стиля всего пространства, продуманный ход к&nbsp;зонированию, который позволяет оптимально использовать каждый квадратный метр.
                    a.services-list__link(href="javascript:void(0)" target="_blank")
                        svg
                            use(xlink:href=`./img/sprites/sprite.svg#plus`)
                .swiper-slide.services-list__thumb
                    .services-list__img 
                        img(src="./img/services/services_3.webp" alt="")
                    .services-list__content
                        .services-list__number.services-list__number--thumb 03
                        .services-list__center
                            +title({
                                classes: 'services-list__title',
                                text: 'Авторский надзор стройки',
                                animated: 'false'
                            })
                            .services-list__text После сдачи проекта как правило наступает самый долгий и&nbsp;сложный период&nbsp;— реализация. При желании заказчика, наша студия может оказать услугу по&nbsp;осуществлению авторского надзора.
                    a.services-list__link(href="javascript:void(0)" target="_blank")
                        svg
                            use(xlink:href=`./img/sprites/sprite.svg#plus`)                            




