.services-list {
    position: relative;
    overflow: hidden;
    padding-top: 120px;

    @include max(1024) {
        padding-top: 120px;
    }

    @include max(730) {
        padding-top: 64px;
    }

    &__container {
        display: flex;
        align-items: stretch;
        gap: 64px;
    }

    &__slider {
        flex: 0 0 50%;
        max-width: 624px;
        overflow: hidden;

        @include max(1199) {
            display: none;
        }
    }

    &__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $c-grey;
        padding: 28px 56px 56px;

        @include max(1300) {
            padding: 24px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        margin-top: 32px;
        padding: 56px;
        border: 1px solid rgba(218, 197, 177, 0.2);
        border-left-width: 0;
        border-right-width: 0;

        @include max(1300) {
            padding: 24px 0;
        }

        @include max(1199) {
            padding: 0;
            margin: 0;
            border: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__number {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        color: $c-white;
        opacity: 0.7;
    }

    &__thumbs {
        flex: 0 1 50%;
        max-width: 624px;

        @include max(1199) {
            flex-basis: 100%;
            max-width: 100%;

            .swiper-wrapper {
                display: contents;
            }
        }
    }

    &__thumb {
        height: fit-content;
        display: flex;
        align-items: flex-start;
        padding: 24px 0;
        gap: 20px;
        border-top: 1px solid $c-beige;
        cursor: pointer;
        opacity: 0.3;

        @include max(1199) {
            position: relative;
            opacity: 1;
            flex-direction: column;
        }

        .services-list__img {
            display: none;

            @include max(1199) {
                display: block;
            }
        }

        &.swiper-slide-thumb-active {
            opacity: 1;

            .services-list__text,
            .services-list__number--thumb {
                opacity: 0.7;
            }

            .services-list__link {
                opacity: 1;
            }
        }
    }

    &__content {
        display: contents;

        @include max(1199) {
            display: flex;
            align-items: flex-start;
            gap: 20px;
        }
    }

    &__number--thumb {
        flex: 0 0 21px;
        opacity: 1;

        @include max(1199) {
            opacity: 0.7;
        }
    }

    &__center {
        flex: 1 1 auto;
    }

    &__title {
        font-family: $titleFont;
        font-size: 40px;
        font-weight: 400;
        line-height: 1.08em;
        text-align: left;
        color: $c-white;


        @include max(1300) {
            font-size: 24px;
        }

        @include max(1199) {
            font-size: 24px;
        }

        @include max(1024) {
            font-size: 24px;
        }

        @include max(730) {
            font-size: 20px;
        }

    }

    &__text {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        color: $c-white;
        opacity: 0.7;

        @include max(730) {
            margin-top: 8px;
        }
    }

    &__link {
        flex: 0 0 27px;
        height: 27px;
        color: $c-white;
        opacity: 0;
        transition: color $tr-time-and-type;

        &:hover {
            color: $c-beige-hover;
        }

        svg {
            width: 100%;
            height: 100%;
        }

        @include max(1199) {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
        }
    }

}