section.projects-intro(data-js="projectsIntro")
    .projects-intro__bg(data-js="projectsIntroBg")
        <picture>
            <source srcset="./img/projects/projects_intro.webp" media="(max-width: 500px)">
            <source srcset="./img/projects/projects_intro_1024.webp" media="(max-width: 1024px)">
            <img src="./img/projects/projects_intro.webp" alt="">
        </picture>
    .projects-intro__content(data-js="projectsIntroContent")
        .container
            +title({
                classes: 'projects-intro__title',
                tag: 'h1',
                text: 'Проекты'
            })(data-js="projectsIntroTitle")
            +btn({
                classes: 'projects-intro__btn',
                vMode: 'btn',
                link: '#projectsProjects',
                text: 'Скролл',
                cMode: 'transparent',
                icon: true,
                iconName: 'scroll',
            })