.awards-projects {
    padding-bottom: 120px;

    &__content {

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;

            &__title {
                font-weight: 400; 
                font-size: 56px;
                line-height: 108%;

                @include max(1300) {
                    font-size: 56px;
                }
        
                @include max(1199) {
                    font-size: 56px;
                }
        
                @include max(1024) {
                    font-size: 48px;
                    text-align: left;
                }
        
                @include max(500) {
                    font-size: 40px;
                }
            }

            &__link {
                text-wrap: nowrap;
                color: #dac5b1;
                background-color: rgba(218, 197, 177, 0.1);
                transition: all 0.3s linear;

                &:hover {
                    background-color: #C5A486;
                    color: #563F3B;
                }

                @include max(500) {
                    width: 100%;
                }
            }

            @include max(1024) {
                margin-bottom: 25px;
            }

            @include max(500) {
                flex-direction: column;
                gap: 16px;
                margin-bottom: 16px;
            }
        }

        &-cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 40px;

            &__card {
                position: relative;
                height: 362px;
                padding: 24px;
                transition: all 0.5s ease;

                &-bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;

                    & img {
                        width: 100%;
                        height: 100%;
                    }
                    
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.3);
                        transition: all 0.5s ease;
                    }
                }

                &-location {
                    padding: 10px 16px;
                    border-radius: 40px;
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 122%;
                    color: #fff;
                }

                &-descr {
                    position: absolute;
                    bottom: 24px;
                    left: 24px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #fff;
                }

                & .hover-icon {
                    position: absolute;
                    right: 24px;
                    top: 24px;
                    width: 64px;
                    height: 64px;
                    opacity: 0;
                    transition: all 0.5s ease;
                    z-index: 2;
                }

                &:hover {

                    & .hover-icon {
                        opacity: 1;
                    }

                    & .awards-projects__content-cards__card-bg {
                        
                        &::after {
                            background-color: rgba(0, 0, 0, 0.6);
                        }
                    }

                    @include max(800) {

                        & .hover-icon {
                            opacity: 0;
                        }
    
                        & .awards-projects__content-cards__card-bg {
                            
                            &::after {
                                background-color: rgba(0, 0, 0, 0.3);
                            }
                        }
                    }
                }

                @include max(1024) {
                    height: 416px;
                }
            }

            @include max(1300) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include max(1024) {
                gap: 16px;
            }

            @include max(500) {
                grid-template-columns: 1fr;
                gap: 17px;
            }
        }
    }

    @include max(1024) {
        padding-bottom: 80px;
    }

    @include max(500) {
        padding-bottom: 65px;
    }
}