section.home-intro(data-js="homeIntro")
    .home-intro__bg(data-js="homeIntroBg")
        <picture>
            <source srcset="./img/home/home_intro_360.jpg" media="(max-width: 500px)">
            <source srcset="./img/home/home_intro_768.jpg" media="(max-width: 768px)">
            <img src="./img/home/home_intro.png" alt="">
        </picture>
        .home-intro__fake.home-intro__fake--2(data-js="homeIntroFake2")
            img(src="./img/home/home_fake-2.png")
        .home-intro__fake.home-intro__fake--1(data-js="homeIntroFake1")
            img(src="./img/home/home_fake-1.png")
        .home-intro__fake.home-intro__fake--5(data-js="homeIntroFake5")
            img(src="./img/home/home_fake-5.png")        
        .home-intro__fake.home-intro__fake--3(data-js="homeIntroFake3")
            <picture>
                <source srcset="./img/home/home_fake_3_1023.jpg" media="(max-width: 1023px)">
                img(src="./img/home/home_fake-3.png" alt="")
            </picture>
        .home-intro__fake.home-intro__fake--4(data-js="homeIntroFake4")
            img(src="./img/home/home_fake-4.png")
    .home-intro__fake.home-intro__fake--logo(data-js="homeIntroFakeLogo")
        img(src="./img/logo.png")
    .home-intro__content(data-js="homeIntroContent")
        .container
            +title({
                classes: 'home-intro__title',
                tag: 'h1',
                text: 'Интерьеры с&nbsp;характером'
            })(data-js="homeIntroTitle")
            +btn({
                classes: 'home-intro__btn',
                vMode: 'btn',
                link: '#homeNumbers',
                text: 'Скролл',
                cMode: 'transparent',
                icon: true,
                iconName: 'scroll',
            })