section.section.employee-awards(data-js="employeeAwards")
    .container.employee-awards__container
        .employee-awards__content 
            .employee-awards__content-top 
                +title({
                text: 'Награды и сертификаты',
                classes: 'employee-awards__content-top__title'
            })
                .employee-awards__content-top__btns
                    button(class="employee-awards__content-top__btns-btn employee-awards__prev-btn" type="button")
                        img(src="./img/svg/slider-arrow.svg" alt="arrow")
                    button(class="employee-awards__content-top__btns-btn employee-awards__next-btn" type="button")
                        img(src="./img/svg/slider-arrow.svg" alt="arrow")
            .employee-awards__content-cards.swiper
                .swiper-wrapper
                    .swiper-slide.employee-awards__content-cards__card
                        .employee-awards__content-cards__card-img
                            img(src="./img/employee/employee-awards__cards-img1.webp" alt="award")
                        +title({
                            tag: 'h3',
                            text: 'ADD Awards',
                            classes: 'awards__card-title',
                            animated: 'false'
                        })
                    .swiper-slide.employee-awards__content-cards__card
                        .employee-awards__content-cards__card-img
                            img(src="./img/employee/employee-awards__cards-img2.webp" alt="award")
                        +title({
                            tag: 'h3',
                            text: 'Premium living award',
                            classes: 'awards__card-title',
                            animated: 'false'
                        })
                    .swiper-slide.employee-awards__content-cards__card
                        .employee-awards__content-cards__card-img
                            img(src="./img/employee/employee-awards__cards-img3.webp" alt="award")
                        +title({
                            tag: 'h3',
                            text: 'Modern home award',
                            classes: 'awards__card-title',
                            animated: 'false'
                        })
                    .swiper-slide.employee-awards__content-cards__card
                        .employee-awards__content-cards__card-img
                            img(src="./img/employee/employee-awards__cards-img4.webp" alt="award")
                        +title({
                            tag: 'h3',
                            text: 'Диплом СПбИЖСиА имени Репина Российской Академии Художеств',
                            classes: 'awards__card-title',
                            animated: 'false'
                        })
                    .swiper-slide.employee-awards__content-cards__card
                        .employee-awards__content-cards__card-img
                            img(src="./img/employee/employee-awards__cards-img1.webp" alt="award")
                        +title({
                            tag: 'h3',
                            text: 'ADD Awards',
                            classes: 'awards__card-title',
                            animated: 'false'
                        })
            +btn({
                text: 'Все награды',
                cMode: 'n',
                classes: 'employee-awards__content-link'
            })