section.section.project-quote(data-js="projectQuote")
    .project-quote__container

        .project-quote__slider(data-js="projectQuoteSlider")
            .project-quote__header(data-js="projectQuoteHeader")
                +title({
                    classes: 'title__h2--small',
                    text: 'От идеи до реализации',
                    animated: 'false'
                })
                .project-quote__controls
                    +btn({
                        classes: 'slider-control slider-control--prev',
                        vMode: 'slider',
                        icon: true,
                        iconName: 'slider_arrow',
                    })(data-js="sliderControlPrev")
                    +btn({
                        classes: 'slider-control slider-control--next',
                        vMode: 'slider',
                        icon: true,
                        iconName: 'slider_arrow',
                    })(data-js="sliderControlNext")
            .swiper-wrapper

                .swiper-slide.project-quote__slide(data-js="projectQuoteSlide")
                    .project-quote__info
                        +quote({
                            classes: 'project-quote__quote',
                            text: 'Уверена, что облик дома формируют арт-объекты, придающие ему интеллектуальность. И с опытом я все больше убеждаюсь в том, что концепцию жилья надо начинать именно с искусства и лишь потом углубляться в технические моменты',
                            author: 'Волкова Арина Владимировна',
                            position: 'Руководитель студии VI interiors',
                            animated: 'false'
                        })
                    .project-quote__img.result-photo(data-js="resultPhoto")
                        .result-photo__overlay
                            .result-photo__before
                                img(src="./img/projects/project-1.webp" alt="")
                            .result-photo__slider
                                svg
                                    use(xlink:href=`./img/sprites/sprite.svg#result_slider`)
                            .result-photo__tooltip 
                                != "Потяните, чтобы увидеть, что получилось"
                                svg
                                    use(xlink:href=`./img/sprites/sprite.svg#angle_arrow`)

                        img(src="./img/projects/project_quote.webp" alt="")

                .swiper-slide.project-quote__slide(data-js="projectQuoteSlide")
                    .project-quote__info
                        +quote({
                            classes: 'project-quote__quote',
                            text: 'Уверена, что облик дома формируют арт-объекты, придающие ему интеллектуальность. И с опытом я все больше убеждаюсь в том, что концепцию жилья надо начинать именно с искусства и лишь потом углубляться в технические моменты',
                            author: 'Волкова Арина Владимировна',
                            position: 'Руководитель студии VI interiors',
                            animated: 'false'
                        })
                    .project-quote__img.result-photo(data-js="resultPhoto")
                        .result-photo__overlay
                            .result-photo__before
                                img(src="./img/projects/project-1.webp" alt="")
                            .result-photo__slider
                                svg
                                    use(xlink:href=`./img/sprites/sprite.svg#result_slider`)
                            .result-photo__tooltip 
                                != "Потяните, чтобы увидеть, что получилось"
                                svg
                                    use(xlink:href=`./img/sprites/sprite.svg#angle_arrow`)

                        img(src="./img/projects/project_quote.webp" alt="")

                .swiper-slide.project-quote__slide(data-js="projectQuoteSlide")
                    .project-quote__info
                        +quote({
                            classes: 'project-quote__quote',
                            text: 'Уверена, что облик дома формируют арт-объекты, придающие ему интеллектуальность. И с опытом я все больше убеждаюсь в том, что концепцию жилья надо начинать именно с искусства и лишь потом углубляться в технические моменты',
                            author: 'Волкова Арина Владимировна',
                            position: 'Руководитель студии VI interiors',
                            animated: 'false'
                        })
                    .project-quote__img.result-photo(data-js="resultPhoto")
                        .result-photo__overlay
                            .result-photo__before
                                img(src="./img/projects/project-1.webp" alt="")
                            .result-photo__slider
                                svg
                                    use(xlink:href=`./img/sprites/sprite.svg#result_slider`)
                            .result-photo__tooltip 
                                != "Потяните, чтобы увидеть, что получилось"
                                svg
                                    use(xlink:href=`./img/sprites/sprite.svg#angle_arrow`)

                        img(src="./img/projects/project_quote.webp" alt="")

