.m-callback {
    position: relative;
    padding: 120px 0;

    @include max(1024) {
        padding: 80px 0;

        .form__title {
            font-size: 48px;
        }
    }


    @include max(730) {
        padding: 64px 0;

        .form__title {
            font-size: 40px;
        }
    }

    &__container {
        position: relative;
    }
}