section.service-photos(data-js="servicesPhotos" id="servicePhotos")
    .container.service-photos__container
        .service-photos__slider(data-js="servicePhotosSlider")
            .swiper-wrapper
                .swiper-slide.service-photos__slide
                    .service-photos__img 
                        img(src="./img/services/service_1.webp" alt="")
                .swiper-slide.service-photos__slide
                    .service-photos__img 
                        img(src="./img/services/service_2.webp" alt="")
                .swiper-slide.service-photos__slide
                    .service-photos__img 
                        img(src="./img/services/service_1.webp" alt="")

