section.services-photos(data-js="servicesPhotos")
    .container.services-photos__container
        .services-photos__slider(data-js="servicesPhotosSlider")
            .swiper-wrapper
                .swiper-slide.services-photos__slide
                    .services-photos__img 
                        img(src="./img/services/service_1.webp" alt="")
                .swiper-slide.services-photos__slide
                    .services-photos__img 
                        img(src="./img/services/service_2.webp" alt="")
                .swiper-slide.services-photos__slide
                    .services-photos__img 
                        img(src="./img/services/service_1.webp" alt="")

