mixin mixins
    //- компоненты
    include ../../blocks/components/title/title
    include ../../blocks/components/btn/btn
    include ../../blocks/components/quote/quote
    include ../../blocks/components/text-editor/text-editor
    include ../../blocks/components/form/form
    include ../../blocks/components/field/field
    include ../../blocks/components/modal/modal
    include ../../blocks/components/video/video

    //- модули
    include ../../blocks/modules/m-contacts/m-contacts
    include ../../blocks/modules/m-projects/m-projects
    include ../../blocks/components/project-card/project-card

    //-include ../../blocks/components/field-file/field-file
    //-include ../../blocks/components/download-btn/download-btn
    //-include ../../blocks/components/socials/socials 
    //-include ../../blocks/components/breadcrumbs/breadcrumbs
    //-include ../../blocks/components/gallery-card/gallery-card
    //-include ../../blocks/components/images-grid/images-grid
    //-include ../../blocks/components/up-btn/up-btn
    //-include ../../blocks/components/pagination/pagination
    //-include ../../blocks/components/select/select
    //-include ../../blocks/components/amount-input/amount-input
    //-include ../../blocks/components/slider-btn/slider-btn
    //-include ../../blocks/components/spoiler/spoiler
    //-include ../../blocks/components/media-slider/media-slider
    //-include ../../blocks/components/layout-sidebar/layout-sidebar
    //-include ../../blocks/components/sidemenu/sidemenu
    //-include ../../blocks/components/dropdown/dropdown
    //-include ../../blocks/components/news-card/news-card
    //-include ../../blocks/components/tooltip/tooltip