section.service-process(data-js="serviceProcess")
    .service-process__slider(data-js="serviceProcessSlider")
        .service-process__controls
            +btn({
                classes: 'slider-control slider-control--prev',
                vMode: 'slider',
                icon: true,
                iconName: 'slider_arrow',
            })(data-js="sliderControlPrev")
            +btn({
                classes: 'slider-control slider-control--next',
                vMode: 'slider',
                icon: true,
                iconName: 'slider_arrow',
            })(data-js="sliderControlNext")
        .swiper-wrapper
            .swiper-slide.service-process__slide
                .service-process__left
                    .service-process__number 01
                    .service-process__title Начало работы 
                    .service-process__text 
                        p Дизайн-проект интерьера&nbsp;— это мост между фантазией и&nbsp;мечтой и&nbsp;их&nbsp;воплощением в&nbsp;жизнь. Проект начинается с&nbsp;технического задания, где мечты и&nbsp;желания воплотятся в&nbsp;четкий план. Здесь задаются вопросы: как будет использоваться каждая комната? Какие цвета и&nbsp;текстуры вызывают отклик в&nbsp;сознании? Параллельно с&nbsp;этим производится замер, чтобы желания было возможно сопоставить со&nbsp;вполне реальной данностью.
                .service-process__img
                    img(src='./img/services/service_process.webp')        
            .swiper-slide.service-process__slide
                .service-process__left            
                    .service-process__number 02
                    .service-process__title Планировка
                    .service-process__text 
                        p Мы выезжаем на&nbsp;обмер помещения, фиксируем все размеры объекта, составляем обмерный план. Далее разрабатываем до&nbsp;трех вариантов планировочных решений по&nbsp;вашим пожеланиям. 
                        p Как только мы&nbsp;утвердили планировку, можно делать визуализации.
                .service-process__img
                    img(src='./img/services/service_process.webp')                            
            .swiper-slide.service-process__slide
                .service-process__left            
                    .service-process__number 03
                    .service-process__title Визуализация
                    .service-process__text
                        p До визуализаций, мы&nbsp;собираем подборку похожих интерьеров и&nbsp;обсуждаем&nbsp;ее. Далее мы&nbsp;начинаем выстраивать ваш будущий интерьер в&nbsp;3д. Этот сложный процесс занимает 3-4 дня на&nbsp;каждое помещение. По&nbsp;каждому помещению можно внести до&nbsp;трех больших блоков корректировок. 
                        p Утверждаем дизайн всех помещений, собираем все визуализации в&nbsp;одну папку, и&nbsp;присылаем их&nbsp;вам.                
                .service-process__img
                    img(src='./img/services/service_process.webp')
