.cookie(data-js='cookie' style="display: none")
    .cookie__text Продолжая использовать этот сайт, вы соглашаетесь <a href='#'>с политикой конфиденциальности</a>
    +btn({
        classes: 'cookie__btn',
        vMode: 'btn',
        text: 'Хорошо',
        cMode: 'beige',
    })(data-js='cookieBtn')