-
    const defaultMProjectsProps = {
        classes: '',
        filters: false
    }

mixin m-projects(props = defaultMProjectsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultMProjectsProps.classes,
            filters: props.filters ? props.filters : defaultMProjectsProps.filters
        }

    section.section.m-projects(data-js="mProjects" id="mProjects")
        .m-projects__controls(data-js="mProjectsControls")
            .m-projects__tabs(data-js="mProjectsTabs")
                .swiper-wrapper
                    +btn({
                        classes: 'swiper-slide m-projects__tab',
                        vMode: 'tab',
                        text: 'Квартиры',
                        cMode: 'beige',
                    })
                    +btn({
                        classes: 'swiper-slide m-projects__tab',
                        vMode: 'tab',
                        text: 'Дома',
                        cMode: 'beige',
                    })
                    +btn({
                        classes: 'swiper-slide m-projects__tab',
                        vMode: 'tab',
                        text: 'Апартаменты',
                        cMode: 'beige',
                    })
            if(checkProps.filters)
        .container(data-js="mProjectsContainer")
            +title({
                classes: 'home-projects__title',
                text: 'Проекты'
            })
            .m-projects__slides(data-js="mProjectsSlides")
                .swiper-wrapper
                    block

            +btn({
                classes: 'm-projects__all',
                vMode: 'btn',
                text: 'Все проекты',
                cMode: 'beige2',
            })(data-js="mProjectsAll")

