-
    const defaultFormProps = {
        classes: '',
        title: '',
        titleAnim: 'true',
        text: '',
        btnText: '',
    }

mixin form(props = defaultFormProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultFormProps.classes,
            title: props.title ? props.title : defaultFormProps.title,
            text: props.text ? props.text : defaultFormProps.text,
            btnText: props.btnText ? props.btnText : defaultFormProps.btnText,
            titleAnim: props.titleAnim ? props.titleAnim : defaultFormProps.titleAnim,
        }

    form.form(action="#" class= checkProps.classes data-validate novalidate)&attributes(attributes)
        .form__content(data-js='form-content')
            - if(checkProps.titleAnim === "true")
                .form__title(data-anim="title")!= checkProps.title
            - else
                .form__title!= checkProps.title
            - if(checkProps.text.length > 0)
                .form__text!= checkProps.text
            .form__fields
                block
            .form__privacy
                p!= 'Нажимая на кнопку «Отправить заявку» я соглашаюсь <a href="#" target="_blank">с политикой конфиденциальности</a>'
            +btn({
                classes: 'form__submit',
                tag: 'button',
                buttonType: 'submit',
                vMode: 'btn',
                text: checkProps.btnText,
                cMode: 'beige',
            })