section.section.blog-contacts(data-js="blogContacts")
    .container.blog-contacts__container
        .blog-contacts__content 
            .blog-contacts__content-images
                .blog-contacts__content-images__img 
                    img(src="./img/blog/blog-contacts__img1.webp", alt="img")
                .blog-contacts__content-images__img 
                    img(src="./img/blog/blog-contacts__img2.webp", alt="img")
                .blog-contacts__content-images__img 
                    img(src="./img/blog/blog-contacts__img3.webp", alt="img")
                .blog-contacts__content-images__img 
                    img(src="./img/blog/blog-contacts__img4.webp", alt="img")
            +title({
                text: 'Блог',
                classes: 'blog-contacts__content-title'
            })
            .blog-contacts__content-bottom 
            
            