section.section.employee-history(data-js="employeeHistory")
    .container.employee-history__container
        .employee-history__content 
            ul.employee-history__content-list 
                li.employee-history__content-list__item
                    p 1989 г
                    .employee-history__content-list__item-text
                        p Моя мама отвела меня в художественную школу
                li.employee-history__content-list__item
                    p 1998 г
                    .employee-history__content-list__item-text
                        p Я готовилась к поступлению в Санкт-Петербургский государственный академический художественный лицей им. Б.В. Иогансона при Российской академии художеств, куда я успешно поступила в 1999 году. Как Вы понимаете, уже тогда я определилась с профессией.
                li.employee-history__content-list__item
                    p 2002 г
                    .employee-history__content-list__item-text
                        p Я закончила лицей и поступила в СПбИЖСиА имени Репина Российской Академии Художеств на факультет архитектуры.
                li.employee-history__content-list__item
                    p 2008 г
                    .employee-history__content-list__item-text
                        p Защитила диплом на отлично по профессии архитектор.
                        p Защитила диплом на отлично по профессии архитектор. Но свое фактическое освоение профессии я начала еще со второго курса, занималась небольшими проектами для друзей и знакомых, приходилось учиться на ходу, применяя теорию на практике, сталкиваясь с вызовами реальности. 
                        p После окончания института начала создавать более крупные проекты, как частный дизайнер. 
                        p За все это время я ни разу не оглянулась назад, никогда передо мной не стоял вопрос «а моё ли это?». Я просто всегда знала – моё.
            button(class="employee-history__show-btn" type="button")
                    span
                        | Развернуть
                    img(src="./img/svg/arrow-bottom.svg", alt="arrow")