section.project-details(data-js="projectDetails")
    .container
        +title({
            classes: 'project-details__title',
            text: 'Детали',
            animated: "false"
        })
    .project-details__content    
        .project-details__slider(data-js="projectDetailsSlider")
            .swiper-wrapper
                .swiper-slide.project-details__slide(data-js="projectDetailsSlide")
                    a.project-details__fancybox(href="./img/projects/project_details_1.webp" data-fancybox="projectDetails1" data-thumb="./img/projects/project_details_1.webp")
                        svg 
                            use(xlink:href=`./img/sprites/sprite.svg#fancybox`)
                    .project-details__img
                        img(src="./img/projects/project_details_1.webp" alt="")
                    .project-details__name Спальня
                    .project-details__text Уверена, что облик дома формируют арт-объекты, придающие ему интеллектуальность
                .swiper-slide.project-details__slide(data-js="projectDetailsSlide")
                    a.project-details__fancybox(href="./img/projects/project_details_2.webp" data-fancybox="projectDetails1" data-thumb="./img/projects/project_details_2.webp")
                        svg 
                            use(xlink:href=`./img/sprites/sprite.svg#fancybox`)
                    .project-details__img
                        img(src="./img/projects/project_details_2.webp" alt="")
                    .project-details__name Кухня
                    .project-details__text Уверена, что облик дома формируют арт-объекты, придающие ему интеллектуальность
                .swiper-slide.project-details__slide(data-js="projectDetailsSlide")
                    a.project-details__fancybox(href="./img/projects/project_details_3.webp" data-fancybox="projectDetails1" data-thumb="./img/projects/project_details_3.webp")
                        svg 
                            use(xlink:href=`./img/sprites/sprite.svg#fancybox`)
                    .project-details__img
                        img(src="./img/projects/project_details_3.webp" alt="")
                    .project-details__name Туалетный столик в спальне
                    .project-details__text Уверена, что облик дома формируют арт-объекты, придающие ему интеллектуальность 
                .swiper-slide.project-details__slide(data-js="projectDetailsSlide")
                    a.project-details__fancybox(href="./img/projects/project_details_4.webp" data-fancybox="projectDetails1" data-thumb="./img/projects/project_details_4.webp")
                        svg 
                            use(xlink:href=`./img/sprites/sprite.svg#fancybox`)
                    .project-details__img
                        img(src="./img/projects/project_details_4.webp" alt="")
                    .project-details__name Спальня
                    .project-details__text Уверена, что облик дома формируют арт-объекты, придающие ему интеллектуальность 
                .swiper-slide.project-details__slide(data-js="projectDetailsSlide")
                    a.project-details__fancybox(href="./img/projects/project_details_5.webp" data-fancybox="projectDetails1" data-thumb="./img/projects/project_details_5.webp")
                        svg 
                            use(xlink:href=`./img/sprites/sprite.svg#fancybox`)
                    .project-details__img
                        img(src="./img/projects/project_details_5.webp" alt="")
                    .project-details__name Спальня
                    .project-details__text Уверена, что облик дома формируют арт-объекты, придающие ему интеллектуальность
                .swiper-slide.project-details__slide(data-js="projectDetailsSlide")
                    a.project-details__fancybox(href="./img/projects/project_details_6.webp" data-fancybox="projectDetails1" data-thumb="./img/projects/project_details_6.webp")
                        svg 
                            use(xlink:href=`./img/sprites/sprite.svg#fancybox`)
                    .project-details__img
                        img(src="./img/projects/project_details_6.webp" alt="")
                    .project-details__name Спальня
                    .project-details__text Уверена, что облик дома формируют арт-объекты, придающие ему интеллектуальность                  