.project-intro {
    position: relative;
    overflow: hidden;

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;

        >picture img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        >video,
        >picture {
            width: 100%;
            height: 100%;
            object-fit: cover;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0.4;
            }
        }

    }

    &__content {
        position: relative;
        z-index: 5;
        transition: opacity 0.8s linear;
        margin-top: auto;

        .container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            height: 100vh;
            padding: 125px 0 50px;

            @include max(768) {
                padding: 72px 0 40px;
            }

            @include max(500) {
                padding: 45px 0 24px;
            }
        }
    }

    &__title {
        text-align: left;
        font-size: 56px;
        margin-top: 24px;

        @include max(1300) {
            font-size: 56px;
        }

        @include max(1199) {
            font-size: 56px;
        }

        @include max(1024) {
            font-size: 56px;
        }

        @include max(730) {
            font-size: 56px;
        }
    }

    &__back {
        padding: 0;
        color: $c-white;
        flex-direction: row-reverse;

        .btn__icon,
        .btn__icon svg {
            width: 24px;
            height: 24px;

        }
    }

    &__desc {
        margin-top: auto;
        padding: 24px 32px;
        background-color: rgba(86, 63, 59, 0.1);
        backdrop-filter: blur(10px);
        color: $c-white;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 24px;
        font-family: $titleFont;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.08em;
        border-width: 1px 0px 1px 0px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.15);

    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        margin-top: 16px;
    }

    &__gamma {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__colors {
        display: flex;
        align-items: center;

        li {
            width: 48px;
            height: 48px;
            border-radius: 100%;
        }

        li:not(:first-child) {
            margin-left: -12px;
        }
    }
}