extends ../layouts/default

block variables
    - const title = "Проекты"

block content
    .page(data-js="pageAnimWrap" data-page="projects")
        .anim-container.anim-container--projects1(style="" data-js="animContainerProjects1")
            include ../../blocks/modules/pages/projects/projects-intro/projects-intro.pug
            include ../../blocks/modules/pages/projects/projects-desc/projects-desc.pug
        .anim-container.anim-container--projects2(style="" data-js="animContainerProjects2")
            include ../../blocks/modules/pages/projects/projects-projects/projects-projects.pug