extends ../layouts/default

block variables
    - const title = "Услуги"

block content
    .page(data-js="pageAnimWrap" data-page="services")
        +m-intro({

        })
        //-include ../../blocks/modules/pages/services/services-intro/services-intro.pug