extends ../layouts/default

block variables
    - const title = "Услуга"

block content
    .page(data-js="pageAnimWrap" data-page="service")
        .anim-container.anim-container--service(style="" data-js="animContainerService")
            include ../../blocks/modules/pages/service/service-intro/service-intro.pug
            include ../../blocks/modules/pages/service/service-photos/service-photos.pug
            include ../../blocks/modules/pages/service/service-process/service-process.pug
            include ../../blocks/modules/pages/service/service-quote/service-quote.pug
            include ../../blocks/modules/pages/services/services-projects/services-projects.pug
            include ../../blocks/modules/pages/service/service-services/service-services.pug
            +m-callback({
                title: 'Заказать услугу',
                classes: '',
            }) 