extends ../layouts/default

block variables
    - const title = "Услуга"

block content
    .page(data-js="pageAnimWrap" data-page="service")
        include ../../blocks/modules/pages/services/services-projects/services-projects.pug