.project-drawings {
    padding-top: 120px;

    @include max(1024) {
        padding-top: 80px;
    }

    @include max(1024) {
        padding-top: 64px;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        gap: 64px;
        margin-top: 48px;
        margin-right: calc((100vw - 1312px) / -2);

        @include max(1439) {
            margin-right: -64px;
        }

        @include max(1024) {
            margin-right: -48px;
        }

        @include max(730) {
            margin-right: -16px;
        }
    }

    &__slider {
        position: relative;
        width: 840px;
        height: 650px;
        z-index: 10;

        @include max(1360) {
            width: 597px;
            height: 462px;
        }

        @include max(1024) {
            display: none;
        }
    }


    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 650px;
        width: 840px;

        @include max(1360) {
            width: 597px;
            height: 462px;
        }
    }

    &__thumbs {
        position: relative;
        z-index: 5;
        width: 350px;
        height: 650px;

        @include max(1360) {
            width: 260px;
            height: 462px;
        }

        @include max(1024) {
            width: 597px;
            height: auto;
        }

        @include max(730) {
            width: 308px;
            height: auto;
        }
    }

    &__thumb {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .project-drawings__fancybox {
            opacity: 0;
            visibility: hidden;

            @include max(1024) {
                opacity: 1;
                visibility: visible;
            }
        }

        .project-drawings__img {
            width: 350px;
            height: 342px;

            @include max(1360) {
                width: 260px;
                height: 254px;
            }

            @include max(1024) {
                align-items: flex-start;
                width: 597px;
                height: 462px;
            }

            @include max(730) {
                width: 308px;
                height: 238px;
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__fancybox {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 40px;
        height: 40px;
        color: $c-white;
        transition: color $tr-time-and-type;

        @include hover() {
            color: $c-beige;
        }

        svg {
            width: 100%;
            height: 100%;
            color: inherit;
        }
    }

    &__controls {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        gap: 20px;
        z-index: 10;

        .slider-control {
            &--prev {
                transform: rotate(180deg);
            }

            &.swiper-button-disabled {
                opacity: 0.2;
            }
        }

        @include max(1024) {
            display: none;
        }

    }

    &__text {
        margin-top: 48px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        height: auto;
        color: $c-white;
        opacity: 0.7;
        max-width: 320px;
        max-height: 228px;
        overflow: hidden;
        transition: max-height 0.4s linear, margin-top 0.4s linear;

        @include max(1024) {
            min-width: 100%;
            min-height: auto;
        }

        @include max(730) {
            margin-top: 24px;
        }
    }

}