section.project-about(data-js="projectsAbout")
    .container
        .project-about__content(data-js="projectsAboutContent")
            .project-about__image 
                img(src="./img/projects/project_about.webp" alt="")
            .project-about__desc   
                +title({
                    classes: 'title__h2--small project-about__title',
                    tag: 'h2',
                    text: 'О проекте',
                })(data-js="projectAboutTitle")
                .project-about__text Квартира метражом 72,9&nbsp;м² создана для семейной пары, приезжающей периодически в&nbsp;Санкт-Петербург, чтобы навестить своих детей. Важным стилистическим заданием для проектирования было использование цветовой гаммы, сходной с&nbsp;Петербургом, при этом более женственной и&nbsp;более благородной, использование мотивов города в&nbsp;интерьере. Таким образом в&nbsp;квартире появились: барельеф Петра Великого, барельеф кролика на&nbsp;фальшфрамуге проемов, символизирующий начало строительства города на&nbsp;Заячьем острове. Обязательным элементом декора стала антикварная подставка для зонтов, намекающая на&nbsp;стабильно дождливую погоду в&nbsp;Петербурге. Все художественные элементы, картины, развешенные по&nbsp;стенам, связаны с&nbsp;теми или иными местами малой столицы: набережная реки Мойки, Летний Сад, Инженерный Замок. В&nbsp;качестве отделочного материала был использован не&nbsp;гранит, а&nbsp;мрамор со&nbsp;схожей цветовой гаммой&nbsp;— коричнево-черно-бордовых оттенков&nbsp;— напоминающий набережные города. Обязательным было и&nbsp;использование в&nbsp;современном исполнении гипсовой лепнины, профили, выполненные по&nbsp;индивидуальным размерам и&nbsp;эскизам дизайнера. 
                +btn({
                    classes: 'project-about__btn',
                    tag: 'button',
                    vMode: 'btn',
                    text: 'Обсудить свой проект',
                    cMode: 'beige2',
                })(data-hystmodal="#discussProject")   
