.service-services {
    overflow: hidden;

    &__title {
        text-align: center;
    }

    &__cards {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 40px;
        margin-top: 40px;

        @include max(1024) {
            flex-direction: column;
            margin-top: 24px;
            gap: 24px;
        }
    }

    &__card {
        flex: 0 1 50%;
    }

    .service-card {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 40px;
        background-color: $c-grey;

        @include max(730) {
            padding: 24px;
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 40px;
            top: 40px;
            width: 32px;
            height: 32px;
            color: $c-beige;

            @include max(730) {
                right: 24px;
                top: 16px;
            }

            svg {
                width: 100%;
                height: auto;
            }
        }

        &__title {
            font-family: $titleFont;
            font-weight: 400;
            line-height: 1.08em;
            font-size: 24px;
            text-align: center;
            color: $c-white;
            max-width: calc(100% - 107px);
            margin: 0 auto;

            @include max(730) {
                font-size: 16px;
            }
        }

        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            padding: 56px;
            border: 1px solid rgba(218, 197, 177, 0.2);
            border-width: 1px 0 1px 0;

            @include max(1199) {
                padding: 24px 0;
            }

            @include max(730) {
                margin-top: 24px;
            }

            img {
                width: 400px;
                height: 400px;
                object-fit: cover;

                @include max(730) {
                    width: 248px;
                    height: 251px;
                }
            }
        }
    }
}