section.section.home-reviews(data-js="homeReviews")
    .home-reviews__container

        .home-reviews__slider(data-js="homeReviewsSlider")
            .home-reviews__header(data-js="homeReviewsHeader")
                +title({
                    classes: 'title__h2--small',
                    text: 'Истории клиентов',
                })
                .home-reviews__controls
                    +btn({
                        classes: 'slider-control slider-control--prev',
                        vMode: 'slider',
                        icon: true,
                        iconName: 'slider_arrow',
                    })(data-js="sliderControlPrev")
                    +btn({
                        classes: 'slider-control slider-control--next',
                        vMode: 'slider',
                        icon: true,
                        iconName: 'slider_arrow',
                    })(data-js="sliderControlNext")
            .swiper-wrapper
                .swiper-slide.home-reviews__slide(data-js="homeReviewsSlide")
                    .home-reviews__review
                        .home-reviews__title(data-anim="title") Интерьер квартиры для ЖК «Монблан»
                        .home-reviews__preview.height-anim-wrap(data-anim="heightWrap")
                            .height-anim-el(data-anim="heightEl")
                                .height-anim-content(data-anim="heightContent")
                                    img(src="./img/home/review_small.jpg" alt="")
                        .home-reviews__info
                            +quote({
                                classes: 'home-reviews__quote',
                                text: 'Рекомендую от души и со всей ответственностью',
                                author: 'Грибанова Анна'
                            })
                            +btn({
                                classes: 'desktop',
                                vMode: 'btn',
                                cMode: 'beige2',
                                text: 'Читать историю',
                                icon: false,
                            })(data-js='fullReviewOpen')
                            +btn({
                                classes: 'mobile',
                                vMode: 'btn',
                                cMode: 'beige2',
                                text: 'Читать историю',
                                icon: false,
                            })(data-hystmodal='#homeFullReview1')
                    .home-reviews__img.height-anim-wrap(data-anim="heightWrap")
                        .height-anim-el(data-anim="heightEl")
                            .height-anim-content(data-anim="heightContent")
                                img(src="./img/home/review.jpg" alt="")
                    .home-reviews__full.full-review(data-js="fullReview")
                        .home-reviews__title Интерьер квартиры для ЖК «Монблан»
                        .has-scroll.full-review__scroll
                            .full-review__icon 
                                svg 
                                    use(xlink:href=`./img/sprites/sprite.svg#quotes`)
                            +text-editor({classes: 'full-review__text'})
                                p У меня красивый и удобный дом. По двум причинам:
                                p - я не знала, во что ввязываюсь
                                p - я встретила по счастливой случайности Арину Волкову
                                p Если бы я представляла сложность такого проекта, я бы, вероятно, не начинала. Покрасила бы ровные стены краской и обошлась без ‘дома мечты’.
                                p Если бы я ввязалась без профессионала, могу только мрачно фантазировать, что было бы с моим кошельком, временем, душевным здоровьем и самим домом.
                                p С неослабевающим изумлением я наблюдала, сколько деталей, нюансов, препятствий скрыто в создании красивого, гармоничного интерьера. И с нарастающим уважением за тем, как Арина и команда с ними справляются.
                                p Арина - дизайнер интерьера высокого класса. Гармония, богатый цвет, форма, целостность, изящность, свой почерк.
                                p По неопытности мне казалось, это главное. И правда, странно, если вид моего дома мне бы не нравился.
                                p Однако, в процессе выяснилось, сколько всего нужно, чтобы картинка стала домом:
                                p - качественные чертежи для строителей
                                p - продуманная эргономика. В красоте должно быть удобно жить
                                p - комплектация с вариантами в зависимости от бюджета
                                p - знание рынка, сеть контактов для всего от плитки до дизайнерских мелочей.
                                p - знание частных мастерских мебельщиков, текстиля, мозаики и тп. Вот этих людей с золотыми руками, которые у себя в мастерской творят буквально итальянское премиальное качество. И их даже можно найти в интернете самим, только замучаешься проверять.
                                p - слаженная команда. Люди, которые любят своё дело и ладят друг с другом создают и атмосферу, и результат.
                                p - Эффективность. Арина не делает лишних движений, не говорит лишних слов. Чтобы ни произошло (а мой ремонт прошёл через 2022 и кризис поставок), Арина ищет варианты - быстро, гибко и с фантазией.
                                p - Ну и кому как, а я ценю воспитание, интеллигентность, образованность и порядочность. Ремонт дело не быстрое, по-моему не все равно, с кем и как общаться по ходу. И ещё ремонт дело дорогое и сложное. Ценно, когда как-то сразу становится ясно, что можно профессионалу доверять.
                        .full-review__author Грибанова Анна
                        +btn({
                            classes: 'full-review__close',
                            vMode: 'btn',
                            cMode: 'beige2',
                            text: 'Свернуть историю',
                            icon: false,
                        })(data-js='fullReviewClose')                        
                .swiper-slide.home-reviews__slide(data-js="homeReviewsSlide")
                    .home-reviews__review
                        .home-reviews__title(data-anim="title") Интерьер квартиры для ЖК «Кантале»
                        .home-reviews__preview
                            img(src="./img/home/review_small.jpg" alt="")
                        .home-reviews__info
                            +quote({
                                classes: 'home-reviews__quote',
                                text: 'Рекомендую от души и со всей ответственностью',
                                author: 'Грибанова Анна'
                            })
                            +btn({
                                classes: 'desktop',
                                vMode: 'btn',
                                cMode: 'beige2',
                                text: 'Читать историю',
                                icon: false,
                            })(data-js='fullReviewOpen')
                            +btn({
                                classes: 'mobile',
                                vMode: 'btn',
                                cMode: 'beige2',
                                text: 'Читать историю',
                                icon: false,
                            })(data-hystmodal='#homeFullReview2')
                    .home-reviews__img
                        img(src="./img/projects/project-1.jpg" alt="")
                    .home-reviews__full.full-review.desktop(data-js="fullReview")
                        .home-reviews__title Интерьер квартиры для ЖК «Кантале»
                        .has-scroll.full-review__scroll
                            .full-review__icon 
                                svg 
                                    use(xlink:href=`./img/sprites/sprite.svg#quotes`)
                            +text-editor({classes: 'full-review__text'})
                                p У меня красивый и удобный дом. По двум причинам:
                                p - я не знала, во что ввязываюсь
                                p - я встретила по счастливой случайности Арину Волкову
                                p Если бы я представляла сложность такого проекта, я бы, вероятно, не начинала. Покрасила бы ровные стены краской и обошлась без ‘дома мечты’.
                                p Если бы я ввязалась без профессионала, могу только мрачно фантазировать, что было бы с моим кошельком, временем, душевным здоровьем и самим домом.
                                p С неослабевающим изумлением я наблюдала, сколько деталей, нюансов, препятствий скрыто в создании красивого, гармоничного интерьера. И с нарастающим уважением за тем, как Арина и команда с ними справляются.
                                p Арина - дизайнер интерьера высокого класса. Гармония, богатый цвет, форма, целостность, изящность, свой почерк.
                                p По неопытности мне казалось, это главное. И правда, странно, если вид моего дома мне бы не нравился.
                                p Однако, в процессе выяснилось, сколько всего нужно, чтобы картинка стала домом:
                                p - качественные чертежи для строителей
                                p - продуманная эргономика. В красоте должно быть удобно жить
                                p - комплектация с вариантами в зависимости от бюджета
                                p - знание рынка, сеть контактов для всего от плитки до дизайнерских мелочей.
                                p - знание частных мастерских мебельщиков, текстиля, мозаики и тп. Вот этих людей с золотыми руками, которые у себя в мастерской творят буквально итальянское премиальное качество. И их даже можно найти в интернете самим, только замучаешься проверять.
                                p - слаженная команда. Люди, которые любят своё дело и ладят друг с другом создают и атмосферу, и результат.
                                p - Эффективность. Арина не делает лишних движений, не говорит лишних слов. Чтобы ни произошло (а мой ремонт прошёл через 2022 и кризис поставок), Арина ищет варианты - быстро, гибко и с фантазией.
                                p - Ну и кому как, а я ценю воспитание, интеллигентность, образованность и порядочность. Ремонт дело не быстрое, по-моему не все равно, с кем и как общаться по ходу. И ещё ремонт дело дорогое и сложное. Ценно, когда как-то сразу становится ясно, что можно профессионалу доверять.
                        .full-review__author Грибанова Анна
                        +btn({
                            classes: 'full-review__close',
                            vMode: 'btn',
                            cMode: 'beige2',
                            text: 'Свернуть историю',
                            icon: false,
                        })(data-js='fullReviewClose')
                .swiper-slide.home-reviews__slide(data-js="homeReviewsSlide")
                    .home-reviews__review
                        .home-reviews__title(data-anim="title") Интерьер квартиры для ЖК «Монблан»
                        .home-reviews__preview
                            img(src="./img/home/review_small.jpg" alt="")
                        .home-reviews__info
                            +quote({
                                classes: 'home-reviews__quote',
                                text: 'Рекомендую от души и со всей ответственностью',
                                author: 'Грибанова Анна'
                            })
                            +btn({
                                classes: 'desktop',
                                vMode: 'btn',
                                cMode: 'beige2',
                                text: 'Читать историю',
                                icon: false,
                            })(data-js='fullReviewOpen')
                            +btn({
                                classes: 'mobile',
                                vMode: 'btn',
                                cMode: 'beige2',
                                text: 'Читать историю',
                                icon: false,
                            })(data-hystmodal='#homeFullReview3')   
                    .home-reviews__img
                        img(src="./img/home/review.jpg" alt="")
                    .home-reviews__full.full-review(data-js="fullReview")
                        .home-reviews__title Интерьер квартиры для ЖК «Монблан»
                        .has-scroll.full-review__scroll
                            .full-review__icon 
                                svg 
                                    use(xlink:href=`./img/sprites/sprite.svg#quotes`)
                            +text-editor({classes: 'full-review__text'})
                                p У меня красивый и удобный дом. По двум причинам:
                                p - я не знала, во что ввязываюсь
                                p - я встретила по счастливой случайности Арину Волкову
                                p Если бы я представляла сложность такого проекта, я бы, вероятно, не начинала. Покрасила бы ровные стены краской и обошлась без ‘дома мечты’.
                                p Если бы я ввязалась без профессионала, могу только мрачно фантазировать, что было бы с моим кошельком, временем, душевным здоровьем и самим домом.
                                p С неослабевающим изумлением я наблюдала, сколько деталей, нюансов, препятствий скрыто в создании красивого, гармоничного интерьера. И с нарастающим уважением за тем, как Арина и команда с ними справляются.
                                p Арина - дизайнер интерьера высокого класса. Гармония, богатый цвет, форма, целостность, изящность, свой почерк.
                                p По неопытности мне казалось, это главное. И правда, странно, если вид моего дома мне бы не нравился.
                                p Однако, в процессе выяснилось, сколько всего нужно, чтобы картинка стала домом:
                                p - качественные чертежи для строителей
                                p - продуманная эргономика. В красоте должно быть удобно жить
                                p - комплектация с вариантами в зависимости от бюджета
                                p - знание рынка, сеть контактов для всего от плитки до дизайнерских мелочей.
                                p - знание частных мастерских мебельщиков, текстиля, мозаики и тп. Вот этих людей с золотыми руками, которые у себя в мастерской творят буквально итальянское премиальное качество. И их даже можно найти в интернете самим, только замучаешься проверять.
                                p - слаженная команда. Люди, которые любят своё дело и ладят друг с другом создают и атмосферу, и результат.
                                p - Эффективность. Арина не делает лишних движений, не говорит лишних слов. Чтобы ни произошло (а мой ремонт прошёл через 2022 и кризис поставок), Арина ищет варианты - быстро, гибко и с фантазией.
                                p - Ну и кому как, а я ценю воспитание, интеллигентность, образованность и порядочность. Ремонт дело не быстрое, по-моему не все равно, с кем и как общаться по ходу. И ещё ремонт дело дорогое и сложное. Ценно, когда как-то сразу становится ясно, что можно профессионалу доверять.
                        .full-review__author Грибанова Анна
                        +btn({
                            classes: 'full-review__close',
                            vMode: 'btn',
                            cMode: 'beige2',
                            text: 'Свернуть историю',
                            icon: false,
                        })(data-js='fullReviewClose')                                              


