section.section.article-intresting(data-js="awardsIntresting")
    .container.article-intresting__container
        .article-intresting__content 
            .article-intresting__content-top 
                +title({
                    text: 'Может быть интересно',
                    classes: 'article-intresting__content-top__title'
                })
                +btn({
                    text: 'Все статьи',
                    cMode: 'n',
                    classes: 'article-intresting__content-top__link'
                })
            ul.article-intresting__content-cards   
                li.article-intresting__content-cards__card
                    a(href="#" class="article-intresting__content-cards__card-link")
                    span.hover-icon
                        img(src="./img/award_logo.webp" alt="icon")
                    .article-intresting__content-cards__card-img 
                        img(src="./img/blog/blog-hero__card-img1.webp" alt="img")
                    span.article-intresting__content-cards__card-date 09.11.2023
                    +title({
                        text: 'Квартира дизайнера в центре Санкт-Петербурга',
                        classes: 'article-intresting__content-cards__card-title',
                        animated: 'false'
                    })
                li.article-intresting__content-cards__card
                    a(href="#" class="article-intresting__content-cards__card-link")
                    span.hover-icon
                        img(src="./img/award_logo.webp" alt="icon")
                    .article-intresting__content-cards__card-img 
                        img(src="./img/blog/blog-hero__card-img2.webp" alt="img")
                    span.article-intresting__content-cards__card-date 09.11.2023
                    +title({
                        text: 'Интерьер квартиры в старинном московском доме',
                        classes: 'article-intresting__content-cards__card-title',
                        animated: 'false'
                    })
                li.article-intresting__content-cards__card 
                    a(href="#" class="article-intresting__content-cards__card-link")
                    span.hover-icon
                        img(src="./img/award_logo.webp" alt="icon")
                    .article-intresting__content-cards__card-img 
                        img(src="./img/blog/blog-hero__card-img3.webp" alt="img")
                    span.article-intresting__content-cards__card-date 09.11.2023
                    +title({
                        text: 'Сводчатые потолки, старинный кирпич и арт-объекты: интерьер офиса дизайн-бюро',
                        classes: 'article-intresting__content-cards__card-title',
                        animated: 'false'
                    })
