.preloader(data-js="preloader")
	.preloader__container
		.preloader__logo.preloader__logo--1
			img(src="./img/preloader_dark.png" alt="preloader logo")
		.preloader__logo.preloader__logo--2
			img(src="./img/logo.png" alt="preloader logo")