section.section.awards-about(data-js="awardsAbout")
    .container.awards-about__container
        .awards-about__content 
            +title({
                text: 'Это не просто команда',
                classes: 'awards-about__content-title' 
            })
            .awards-about__content-text
                p VI – это не просто символика, не просто инициалы. Это символ совершенства, заключение цикла, полной гармонии, отвечает шести направлениям пространства. VI – это не просто команда, это коалиция, тандем людей, преследующих одни и те же идеи, идущих навстречу одной и той же цели.
                p Каждый наш проект – это погружение в индивидуальный мир клиента, понимание его желаний, потребностей, понимание его обихода и характера, которые мы преобразуем в конкретные решения через призму профессионального взгляда.
            button(class="awards-about__show-btn" type="button")
                span
                    | Развернуть
                img(src="./img/svg/arrow-bottom.svg", alt="arrow")