.services-process {
    padding-top: 120px;
    overflow: hidden;

    @include max(1024) {
        padding-top: 80px;
    }

    &__slider {
        position: relative;
        width: 100%;

        .swiper-wrapper {
            align-items: flex-start;
        }
    }

    &__slide {
        height: auto;
        width: 411px;
        min-height: 497px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px;
        background-color: $c-grey;
        background-image: url("../img/services/services_process_bg.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 294px 449px;

        @include max(730) {
            width: 287px;
            min-height: 462px;
            background-size: 204.6px 313.49px;
            background-position: right top 16.76px;
            padding: 24px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 48px;
        gap: 32px;

        @include max(1024) {
            margin-bottom: 24px;
        }

        .title {
            flex: 1 1 auto;
        }

        .services-process__controls {
            flex: 0 0 84px;
        }
    }

    &__controls {
        display: flex;
        gap: 20px;

        .slider-control {
            &--prev {
                transform: rotate(180deg);
            }

            &.swiper-button-disabled {
                opacity: 0.2;
            }
        }

    }

    &__number {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $c-white;
        opacity: 0.7;
    }

    &__title {
        margin-top: 16px;
        margin-bottom: 32px;
        font-family: $textFont;
        font-size: 24px;
        line-height: 1.08em;
        font-weight: 400;
        color: $c-white;

        @include max(1024) {
            font-size: 20px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-top: auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        color: $c-white;
        opacity: 0.7;
    }
}