section.section.contacts-map(data-js="contactsMap")
    .container.contacts-map__container
        .contacts-map__content 
            .map(id="map")
            .markers-data(id="markersData")
                span.marker-data(data-lat="55.751244" data-lng="37.618423" data-title="Метка 1")
                span.marker-data(data-lat="55.753215" data-lng="37.622004" data-title="Метка 2")
                span.marker-data(data-lat="55.754444" data-lng="37.619852" data-title="Метка 3")
            button.route-button(id="route-button") Проложить маршрут