section.section.home-discussion(data-js="homeDiscussion")
    .container.home-discussion__container
        .home-discussion__left
            +btn({   
                classes: '',
                text: 'Обсудить проект',
                cMode: 'beige2',
            })(data-hystmodal="#discussProject")
        .home-discussion__rigth
            +title({
                classes: 'title__h2--small',
                text: 'Интерьеры с характером, дизайн-проекты в&nbsp;Санкт-Петербурге'
            })
            .height-anim-wrap(data-anim="heightWrap")
                .height-anim-el(data-anim="heightEl")
                    +text-editor({classes: 'home-discussion__text height-anim-content'})(data-anim="heightContent")
                        p!=  '«Я хотела воссоздать в этом проекте атмосферу семейного быта моих предков, и это мне удалось. Я никогда не бывала в нашей старой квартире на Моховой, но рассказы о семейных традициях, отдельные детали декора, старинные вещи помогли создать убедительный образ дома, где за большим столом собиралась вся семья»'
                        p!=  'Главный акцент в гостиной-столовой — ширма с репродукцией картины Пабло Пикассо «Любительница абсента». Ширма размером 2х3 метра выполнена автором проекта совместно с архитектором Еленой Шируновой.'
                        p!=  'Открытое пространство гостиной-кухни занимает порядка 50 квадратных метров. Над обеденным столом — хрустальная люстра (её привезли из Европы, поставщик — bufet_taburet). Гипсовая розетка изготовлена на заводе «Дикарт».' 
                        p!=  'В этом с любовью сделанном интерьере нашли своё место и старинные вещи, например, подстолье для швейной машинки «Зингер». «Я увидела его в 2005 году и принесла домой, за что меня чуть не предали анафеме. Но я его отстояла, и оно, накрытое столешницей, «изображало» консоль в прихожей, а в новую квартиру переехало в гостевой санузел в качестве подстолья для раковины».'