.projects-desc {
    width: 100%;
    top: 100%;
    position: absolute;
    padding: 64px 0;
    z-index: 10;

    @include max(1024) {
        position: relative;
        top: 0;
        padding: 48px 0 0;
    }

    @include max(500) {
        padding: 16px 0 0;
    }

    &__content {
        padding: 56px;
        background-color: rgba(86, 63, 59, 0.1);
        backdrop-filter: blur(10px);

        @include max(1024) {
            padding: 24px;
            backdrop-filter: none;
        }

        @include max(500) {
            padding: 16px;
            backdrop-filter: none;
        }
    }

    &__title {
        text-align: center;
        font-size: 56px;

        @include max(500) {
            font-size: 40px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
        text-align: center;
        font-size: 16px;
        line-height: 1.5em;
        color: $c-white;

        @include max(500) {
            gap: 12px;
        }

        p {
            opacity: 0.7;
        }
    }
}