.projects-desc {
    width: 100%;
    bottom: -100%;
    position: absolute;
    padding: 64px 0;
    z-index: 10;

    @include max(1024) {
        position: relative;
        bottom: 0;
    }

    &__content {
        padding: 56px;
        background-color: rgba(86, 63, 59, 0.1);
        backdrop-filter: blur(10px);
    }

    &__title {
        text-align: center;
        font-size: 56px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
        text-align: center;
        font-size: 16px;
        line-height: 1.5em;
        color: $c-white;
    }
}