mixin modal(modalId="myModal", classes= "", btnInner = true)
    .modal.hystmodal(id=modalId class= classes aria-hidden="true")
        .hystmodal__wrap
            -if(!btnInner)
                +btn({
                    classes: 'modal__close',
                    tag: 'button',
                    vMode: 'icon',
                    cMode: 'transparent',
                    icon: true,
                    iconName: 'close'
                })(data-hystclose)
            .hystmodal__window(role="dialog" aria-modal="true")
                .modal__content
                    -if(btnInner)
                        +btn({
                            classes: 'modal__close',
                            tag: 'button',
                            vMode: 'icon',
                            cMode: 'transparent',
                            icon: true,
                            iconName: 'close'
                        })(data-hystclose)
                    block