-
    const defaultQuoteProps = {
        classes: '',
        text: '',
        author: '',
        position: ''
    }

mixin quote(props = defaultQuoteProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultQuoteProps.classes,
            text: props.text ? props.text : defaultQuoteProps.text,
            author: props.author ? props.author : defaultQuoteProps.author,
            position: props.position ? props.position : defaultQuoteProps.position

        }

    .quote(class=checkProps.classes)&attributes(attributes)
        .quote__icon
            svg 
                use(xlink:href=`./img/sprites/sprite.svg#quotes`)
        .quote__content
            if(checkProps.text)
                .height-anim-wrap(data-anim="heightWrap")
                    .height-anim-el(data-anim="heightEl")
                        .quote__text.height-anim-content(data-anim="heightContent")
                            != checkProps.text
            if(checkProps.author)
                .height-anim-wrap(data-anim="heightWrap")
                    .height-anim-el(data-anim="heightEl")
                        .quote__author.height-anim-content(data-anim="heightContent")
                            != checkProps.author
            if(checkProps.position)
                .height-anim-wrap(data-anim="heightWrap")
                    .height-anim-el(data-anim="heightEl")
                        .quote__position.height-anim-content(data-anim="heightContent")
                            != checkProps.position