section.section.awards-honors(data-js="awardsHonors")
    .container.awards-honors__container
        .aawards-honors__content
            .awards-honors__content-cards
                .awards-honors__content-cards__card
                    .awards-honors__content-cards__card-img 
                        img(src="./img/awards/awards-honors__card-img1.webp", alt="img")
                    .awards-honors__content-cards__card-article  
                        +title({
                            tag: 'h3',
                            text: 'Modern home award',
                            classes: 'awards-honors__content-cards__card-article__title'
                        })
                        ul.awards-honors__content-cards__card-article__list 
                            li.awards-honors__content-cards__card-article__list-item 
                                .left
                                    p 2023 Кантеле
                                    .awards-honors__content-cards__card-article__list-item__nominations
                                        span  Победитель в номинации Традиции. Двухуровневый интерьер
                                +btn({
                                    text: 'Смотреть проект',
                                    cMode: 'rgba(218, 197, 177, 0.1)',
                                    classes: 'awards-honors__content-cards__card-article__list-item__link'
                                })
                            li.awards-honors__content-cards__card-article__list-item 
                                .left
                                    p 2023 Моблан
                                    .awards-honors__content-cards__card-article__list-item__nominations
                                        span  Топ-100 лучших жилых интерьеров России
                                +btn({
                                    text: 'Смотреть проект',
                                    cMode: 'rgba(218, 197, 177, 0.1)',
                                    classes: 'awards-honors__content-cards__card-article__list-item__link'
                                })
                            li.awards-honors__content-cards__card-article__list-item 
                                .left
                                    p 2021 Русский дом
                                    .awards-honors__content-cards__card-article__list-item__nominations
                                        span  Победитель в номинации Исторические стилистики
                                        span  Интерьер квартиры от 100 м²
                                        span  Топ-100 лучших жилых интерьеров России
                                +btn({
                                    text: 'Смотреть проект',
                                    cMode: 'rgba(218, 197, 177, 0.1)',
                                    classes: 'awards-honors__content-cards__card-article__list-item__link'
                                })
                .awards-honors__content-cards__card
                    .awards-honors__content-cards__card-img 
                        img(src="./img/awards/awards-honors__card-img2.webp", alt="img")
                    .awards-honors__content-cards__card-article  
                        +title({
                            tag: 'h3',
                            text: 'ADD Awards ',
                            classes: 'awards-honors__content-cards__card-article__title'
                        })
                        ul.awards-honors__content-cards__card-article__list 
                            li.awards-honors__content-cards__card-article__list-item 
                                .left
                                    p 2021 Старый Арбат
                                    .awards-honors__content-cards__card-article__list-item__nominations
                                        span  Третье место
                                +btn({
                                    text: 'Смотреть проект',
                                    cMode: 'rgba(218, 197, 177, 0.1)',
                                    classes: 'awards-honors__content-cards__card-article__list-item__link'
                                })
                .awards-honors__content-cards__card
                    .awards-honors__content-cards__card-img 
                        img(src="./img/awards/awards-honors__card-img3.webp", alt="img")
                    .awards-honors__content-cards__card-article  
                        +title({
                            tag: 'h3',
                            text: 'Premium living award',
                            classes: 'awards-honors__content-cards__card-article__title'
                        })
                        ul.awards-honors__content-cards__card-article__list 
                            li.awards-honors__content-cards__card-article__list-item 
                                .left
                                    p 2021 Маленькая Франция
                                    .awards-honors__content-cards__card-article__list-item__nominations
                                        span  ТОП-100 лучших элитных интерьеров России
                                +btn({
                                    text: 'Смотреть проект',
                                    cMode: 'rgba(218, 197, 177, 0.1)',
                                    classes: 'awards-honors__content-cards__card-article__list-item__link'
                                })
                .awards-honors__content-cards__card
                    .awards-honors__content-cards__card-img 
                        img(src="./img/awards/awards-honors__card-img4.webp", alt="img")
                    .awards-honors__content-cards__card-article  
                        +title({
                            tag: 'h3',
                            text: 'Public space award',
                            classes: 'awards-honors__content-cards__card-article__title'
                        })
                        ul.awards-honors__content-cards__card-article__list 
                            li.awards-honors__content-cards__card-article__list-item 
                                .left
                                    p 2023 Гостиница Украина
                                    .awards-honors__content-cards__card-article__list-item__nominations
                                        span  Топ-100 лучших общественных пространств России
                                +btn({
                                    text: 'Смотреть проект',
                                    cMode: 'rgba(218, 197, 177, 0.1)',
                                    classes: 'awards-honors__content-cards__card-article__list-item__link'
                                })