.service-quote {
    padding-top: 120px;

    @include max(1024) {
        padding-top: 80px;
    }

    @include max(730) {
        padding-top: 64px;
    }

    &__quote {
        gap: 88px;
        padding: 56px 64px;
        border-width: 1px 0px 1px 0px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.15);

        @include max(1024) {
            padding: 40px 0;
            flex-direction: column;
            gap: 24px;
        }

        @include max(768) {
            gap: 24px;
        }

        @include max(730) {
            padding: 32px 0;
            gap: 16px;
        }
    }

    .quote__position {
        margin-top: 4px;
    }

    .quote__title {
        @include max(1024) {
            font-size: 48px;
            margin-bottom: 16px;
        }

        @include max(730) {
            font-size: 40px;
        }
    }

    .quote__icon svg {
        width: 122px;
        height: 85px;
        opacity: 0.05;
    }
}