section.service-quote(data-js="serviceQuote")
    .container
        +quote({
            classes: 'service-quote__quote',
            title: 'Мы гордимся нашей работой',
            text: 'Дизайн-проект интерьера необходим, чтобы каждый шаг ремонта или обновления был продуман и ничего не омрачало радости от нового начинания. Это позволяет избежать ошибок, экономить время и деньги, а также добиваться лучшего результата, который будет радовать глаз и душу на долгие годы',
            author: 'Волкова Арина Владимировна',
            position: 'Руководитель студии VI interiors',
            animated: 'false'
        })


