section.services-projects(data-js="servicesProjects")
    .container.services-projects__container
        .services-projects__header
            +title({
                classes: 'title__h2--small',
                text: 'Наши проекты',
                animated: 'false'
            })
            +btn({
                classes: '.services-projects__btn',
                vMode: 'btn',
                text: 'Все проекты',
                cMode: "beige2"
            })
        .services-projects__cards
            +project-card({
                classes: 'services-projects__card',
                type: 'small',
            })

            +project-card({
                classes: 'services-projects__card',
                type: 'small',
                title: 'Монблан',
                location: 'Россия, Москва',
                bgImage: 'project-2.webp',
            })

            +project-card({
                classes: 'services-projects__card',
                type: 'small',
                title: 'Галерная 12',
                location: 'Россия, Санкт-Петербург',
                bgImage: 'project-3.webp',
            })

            +project-card({
                classes: 'services-projects__card',
                type: 'small',
                title: 'Neva House',
                location: 'Россия, Санкт-Петербург',
                bgImage: 'project-4.webp',
            })



