section.services-projects(data-js="servicesProjects")
    .container.services-projects__container
        .services-projects__header
            +title({
                classes: 'title__h2--small',
                text: 'Наши проекты',
                animated: 'false'
            })
            +btn({
                classes: '.services-projects__btn',
                vMode: 'btn',
                text: 'Все проекты',
                cMode: "beige2"
            })
        .services-projects__cards
            .project-anim(data-anim="projectAnim")
                .project-anim__wrap(data-anim="projectAnimWrap")
                    .project-anim__content
                        +project-card({
                            classes: 'services-projects__card',
                            type: 'small',
                            title: 'Neva House',
                            location: 'Россия, Санкт-Петербург',
                            bgImage: 'project-4.webp',
                        })
            .project-anim(data-anim="projectAnim")
                .project-anim__wrap(data-anim="projectAnimWrap")
                    .project-anim__content            
                        +project-card({
                            type: 'small',
                            title: 'Бассейная 45',
                            location: 'Россия, Москва',
                            bgImage: 'project-5.webp',
                        }) 
            .project-anim(data-anim="projectAnim")
                .project-anim__wrap(data-anim="projectAnimWrap")
                    .project-anim__content            
                        +project-card({
                            type: 'small',
                            title: 'Старый Арбат II',
                            location: 'Россия, Москва',
                            bgImage: 'project-8.webp',
                        })
            .project-anim(data-anim="projectAnim")
                .project-anim__wrap(data-anim="projectAnimWrap")
                    .project-anim__content            
                        +project-card({
                            type: 'small',
                            title: 'Старый Арбат',
                            location: 'Россия, Москва',
                            bgImage: 'project-9.webp',
                        })                 



