footer.site-footer(data-js="footer")
	.container.site-footer__container
		.site-footer__top
			.site-footer__column
				.site-footer__menu(data-js="reversHoversBlock")
					.site-footer__title Проекты
					a(href="javascript:void(0)" data-js="reversHoversItem").site-footer__link Квартиры
					a(href="javascript:void(0)" data-js="reversHoversItem").site-footer__link Дома
					a(href="javascript:void(0)" data-js="reversHoversItem").site-footer__link Апартаменты
				.site-footer__menu(data-js="reversHoversBlock")
					.site-footer__title Контакты
					.site-footer__link.site-footer__link--noLink(data-js="reversHoversItem") Санкт-Петербург, ул. Фучика, 9
					a(href="tel:79112276452" data-js="reversHoversItem").site-footer__link 8 (911) 227-64-52
					a(href="mailto:vi@yandex.ru" data-js="reversHoversItem").site-footer__link vi@yandex.ru					
			.site-footer__column
				.site-footer__menu(data-js="reversHoversBlock")
					a(href="javascript:void(0)" data-js="reversHoversItem").site-footer__link Услуги
					a(href="javascript:void(0)" data-js="reversHoversItem").site-footer__link Часто задаваемые вопросы
					a(href="javascript:void(0)" data-js="reversHoversItem").site-footer__link Награды
					a(href="javascript:void(0)" data-js="reversHoversItem").site-footer__link Контакты
				.site-footer__menu(data-js="reversHoversBlock")
					.site-footer__title Социальные сети
					a(href="https://www.houzz.ru/" data-js="reversHoversItem").site-footer__link Houzz
					a(href="https://web.telegram.org/" data-js="reversHoversItem").site-footer__link Telegram
					a(href="https://www.youtube.com/" data-js="reversHoversItem").site-footer__link YouTube
					a(href="https://www.instagram.com/" data-js="reversHoversItem").site-footer__link Instagram
			.site-footer__column.site-footer__column--logo
				.site-footer__logo
					img(src="./img/footer_logo.png" alt="")


		.site-footer__bottom
			.site-footer__link.site-footer__link--noLink ©2024, Interiors by Arina Volkova
			a(href="javascript:void(0)").site-footer__link.link Политика конфиденциальности
